In [6]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [7]:
# Import the data
loandata= pd.read_csv("Resources/lending_data.csv")
loandata.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [8]:
# Split the data into X_train, X_test, y_train, y_test
X = loandata.drop(columns=["loan_status"])
y = loandata["loan_status"]
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
46800,7900.0,6.487,41600,0.278846,2,0,11600
39134,7900.0,6.464,41400,0.275362,2,0,11400
34613,9200.0,7.052,47000,0.361702,3,0,17000
1928,11900.0,8.197,57700,0.480069,6,1,27700
20940,9900.0,7.344,49700,0.396378,4,0,19700

In [9]:
# Train a Logistic Regression model print the model score
clf = LogisticRegression(solver='lbfgs', random_state=1)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9926743706149401

In [10]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9922616591002889